<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="nuget.iol" value="https://nuget.pkg.github.com/invertironlineargentina/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <nuget.iol>
			<add key="Username" value="nuget-iol" />
            <add key="ClearTextPassword" value="da939d53e2cbbf38496d004087635a0bdf12f35c" />
        </nuget.iol>
    </packageSourceCredentials>
</configuration>
